<div class="main container-md">
  <div class="about-us">
    <h3 class="mb-3 h2 text-center text-lg-start" style="font-family: 'Black Ops One', cursive; margin-top: 90px;"><span>S</span>ave <span>W</span>ildlife <span>A</span>namals</h3>
    <div class="row justify-content-center fs-5 g-5">
      <div class="col-lg-6 lh-lg text-center text-lg-start d-flex  justify-content-center align-items-center">
        <div class="swa-text">
          瀕臨絕種的動物們，<br>
          需要被保護，<br>
          無論是從惡劣的生活環境，<br>
          從盜獵者，<br>
          這些美麗的生物，<br>
          不應該因為人類們犯下的錯誤而消失，<br>
          我們致力於從盜獵者手下保護牠們，<br>
          從大自然的災害中幫助牠們，<br>
          而牠們也需要你/妳助一臂之力，<br>
          這也將是你/妳無名英雄故事的開始。
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img1"></div>
      </div>
      <div class="col-lg-6">
        <div class="img2"></div>
      </div>
      <div class="col-lg-6 lh-lg text-center text-lg-start d-flex  justify-content-center align-items-center">
        <div class="swa-text">
          瀕臨絕種的動物們，<br>
          需要被保護，<br>
          無論是從惡劣的生活環境，<br>
          從盜獵者，<br>
          這些美麗的生物，<br>
          不應該因為人類們犯下的錯誤而消失，<br>
          我們致力於從盜獵者手下保護牠們，<br>
          從大自然的災害中幫助牠們，<br>
          而牠們也需要你/妳助一臂之力，<br>
          這也將是你/妳無名英雄故事的開始。
        </div>
      </div>
      <div class="col-lg-6 lh-lg text-center text-lg-start d-flex  justify-content-center align-items-center">
        <div class="swa-text">
          瀕臨絕種的動物們，<br>
          需要被保護，<br>
          無論是從惡劣的生活環境，<br>
          從盜獵者，<br>
          這些美麗的生物，<br>
          不應該因為人類們犯下的錯誤而消失，<br>
          我們致力於從盜獵者手下保護牠們，<br>
          從大自然的災害中幫助牠們，<br>
          而牠們也需要你/妳助一臂之力，<br>
          這也將是你/妳無名英雄故事的開始。
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img3"></div>
      </div>
    </div>
  </div>
</div>